
h1, h2, h3, h4, h5{
    font-family: Alegreya Sans SC;
    font-weight: 700;
    letter-spacing: 0em;
}
h1{
    font-size: 50px;
    line-height: 60px;
}
h2{
    font-size: 35px;
    line-height: 40px;
}
h3{
    font-size: 17px;
    line-height: 23px;
}
